nav {
    display: flex;
    margin-left: auto;
    padding-right: 16px;
  }

a {
    padding-right: 16px;
}

h3 {
    color: white;
    margin: 0;
  }

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/